{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<h4>Current Categories:</h4>
<ul>
    {% for category in ecategories %}
        <li>{{ category.name }}</li>
    {% endfor %}
</ul>
<form action="/settings/" method='POST'>
    <!-- <button type="submit" name='submit' value="send">Send an email</button>
    <button type="submit" name='submit' value="receive">add answer from gmail</button>
    <button type="submit" name='submit' value="ski">ski</button>
    <button type="submit" name='submit' value="run">run</button>
    <br>
    <br>
    <label for="checkbox">Do you want to be in email list?</label>
    {% if user.in_email_list == true %}
    <button type="checkbox" name='submit' value="false" checked>Yes</button>
    {% else %}
    <button type="checkbox" name='submit' value="true">No</button>
    {% endif %}
    <br> -->
    
    <label for="phonenumber">Phone Number</label>
    {% if phone_number != None %}
    <input type="text" id="phonenumber" name="phonenumber" value="{{phone_number}}">
    {% else %}
    <input type="text" id="phonenumber" name="phonenumber">
    {% endif %}
    <button type="submit" name="submit" value="phonenumber">Add</button>

    <br>
    <label for="year_start">Year Summary Start Month (inclusive)</label>
    <input type="text" id="year_start" name="year_start" value="{{year_start}}">
    <label for="year_end">Year Summary End Month (inclusive)</label>
    <input type="text" id="year_end" name="year_end" value="{{year_end}}">
    <br>
    <br>
    <button type="submit" name="sumbit">Save</button>

</form>
{% endblock %}
