{% extends 'base.html' %}
{% block title %}Season {{season}} Overview{% endblock %}
{% block content %}

<header>
    <div style="display: flex; align-items: center; justify-content: center;">
        <a href="/previous-year-routes.year_overview/" method='POST' style="margin-right: 20px;">&#10094;</a>
        <span><h1 style="margin: 0;">Season {{season}}</h1></span>
        <a href="/next-year-routes.year_overview/" method='POST' style="margin-left: 20px;">&#10095;</a>
    </div>
</header>

<content>
    <h3> Categories </h3>
    {% for category, time in categories.items() %}
        <ul>
            <li>{{category}}: {{time}} h</li>
        </ul>
    {% endfor %}
    <h3> Intensities </h3>
    {% for intensity, time in intensities.items() %}
        <ul>
            <li>{{intensity}}: {{time}} h</li>
        </ul>
    {% endfor %}
    <h3> YEAR OVERALL</h3>
    <ul>
        <li>{{ overall }} h</li>
        {% if jumps != 0 %}
            <li>{{jumps}} jumps</li>
        {% else %}
            <li>0 jumps</li>
        {% endif %}
    </ul>
    <br>
    <p>*jumping time not included in overall time</p>

</content>
<div class="container">
    {% for monday,week_data in weeks.items() %}

        {% if week_data.total_time != 0 %}
            <br>
            <br>
            <h2 style="color:white;"><span>Week {{ week_data.week_number }} ({{week_data.total_time}} h)</span></h2>
        {% endif %}

        {% for day,trainings in week_data.days.items() %}
            <div class="row align-items-center">
            <div style="color:white;">{{day}}</div>
            {% if trainings != [] %}
                {% for training in trainings %}
                    <div class="col">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    {% if training.timeofday == 'am' %}
                        <h5 class="card-title">Morning {{ training.name }}</h5>
                    {% else %}
                        <h5 class="card-title">Afternoon {{ training.name }}</h5>
                    {% endif %}
                    {% for section in training.sections %}
                        <p class="card-text">{{ section.name }}
                        -
                        {% if training.name == "Jumping" %}
                            {{section.jumps}}
                        {% else %}
                            {{section.intensity}}
                        {% endif %}
                        -
                        {{section.time}}</p>
                    {% endfor %}
                    {% if training.comment != None %}
                        <p class="card-text">{{training.comment}}</p>
                    {% endif %}
                    <a href="/training-{{training.training_date.day}}-
                        {{training.training_date.month}}-{{training.training_date.year}}/" 
                        class="card-link">Go to Training</a>
                    <br>
                    <br>

                    </div>
                    </div>
                    </div>
                {% endfor %}
            {% else %}
                <br>
                <h5>Lepo</h5>
                <br>
            {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
