{% extends 'base.html' %}
{% block title %}Season {{season}} Overview{% endblock %}
{% block content %}

<a href="/previous-year-routes.year_overview/" method='POST'> &#10094;</a>
<h1>Season {{season}}</h1>
<br>
<a href="/next-year-routes.year_overview/" method='POST'> &#10095;</a>
<div class="container">
    {% for day,trainings in days.items() %}
    {% for monday,data in weeks.items() %}
    {% if day == monday %}
    {% if data[0] != 0 %}
    <h2 style="color:white;"><span>Week {{ data[1] }} ({{data[0]}} h)</span></h2>
    {% endif %}
    {% endif %}
    {% endfor %}
    <div class="row align-items-center">
        <div style="color:white;">{{day}}</div>
        {% if trainings != [] %}
        {% for training in trainings %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if training.timeofday == 'am' %}
                    <h5 class="card-title">Morning {{ training.name }}</h5>
                    {% else %}
                    <h5 class="card-title">Afternoon {{ training.name }}</h5>
                    {% endif %}
                      {% for section in training.sections %}
                          <p class="card-text">{{ section.name }}
                          -
                          {% if training.name == "Jumping" %}
                            {{section.jumps}}
                          {% else %}
                            {{section.intensity}}
                          {% endif %}
                          -
                          {{section.time}}</p>
                      {% endfor %}
                      {% if training.comment != None %}
                      <p class="card-text">{{training.comment}}</p>
                      {% endif %}
                    <a href="/training-{{training.training_date.day}}-
                        {{training.training_date.month}}-{{training.training_date.year}}/" 
                        class="card-link">Go to Training</a>
                    <br>
                    <br>

                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <br>
        <h5>Lepo</h5>
        <br>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
