{% extends 'base.html' %}
{% block title %}{{name}} {{year}}{% endblock %}

{% if user.is_authenticated %}
{% block content %}

<a href="/previous-month-routes.month_summary/" method='POST'> &#10094;</a>
<h2>{{ name }} {{ year }}</h2>
<a href="/next-month-routes.month_summary/" method='POST'> &#10095;</a>
<br>

<h3> Categories </h3>
{% for category, time in categories.items() %}
<ul>
    <li>{{category}}: {{time}} h</li>
</ul>
{% endfor %}
<h3> Intensities </h3>
{% for intensity, time in intensities.items() %}
<ul>
    <li>{{intensity}}: {{time}} h</li>
</ul>
{% endfor %}
<h3> Month Overall </h3>
<ul>
    <li>{{ month_overall }} h</li>
    {% if jumps != 0 %}
    <li>{{jumps}} jumps</li>
    {% else %}
    <li>0 jumps</li>
    {% endif %}
</ul>





{% endblock %}
{% endif %}
