{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<h4>Current Categories:</h4>
<ul>
    {% for category in ecategories %}
        <li>{{ category.name }}</li>
    {% endfor %}
</ul>
<form action="/settings/" method='POST'>
    <!-- <button type="submit" name='submit' value="send">Send an email</button>
    <button type="submit" name='submit' value="receive">add answer from gmail</button>
    <button type="submit" name='submit' value="ski">ski</button>
    <button type="submit" name='submit' value="run">run</button>
    <br>
    <br>
    <label for="checkbox">Do you want to be in email list?</label>
    {% if user.in_email_list == true %}
    <button type="checkbox" name='submit' value="false" checked>Yes</button>
    {% else %}
    <button type="checkbox" name='submit' value="true">No</button>
    {% endif %}
    <br> -->
    
    <label for="phonenumber">Phone Number</label>
    <input type="text" id="phonenumber" name="phonenumber">
    <button type="submit" name="submit" value="phonenumber">Add</button>


    <br>
    <p> = {{ phone_number }}</p>

</form>
{% endblock %}