{% extends 'base.html' %}
{% block title %}Year moi{% endblock %}

{% if user.is_authenticated %}
{% block content %}

<a href="/previous-year-routes.year_summary/" method='POST'> &#10094;</a>
<h2>Season {{ season }}</h2>
<a href="/next-year-routes.year_summary/" method='POST'> &#10095;</a>
<br>
<h3> Categories </h3>
{% for category, time in categories.items() %}
<ul>
    <li>{{category}}: {{time}} h</li>
</ul>
{% endfor %}
<h3> Intensities </h3>
{% for intensity, time in intensities.items() %}
<ul>
    <li>{{intensity}}: {{time}} h</li>
</ul>
{% endfor %}
<h3> Jumps </h3>
{% if jumps != 0 %}
    <ul>
        <li>{{jumps}} jumps</li>
    </ul>
{% endif %}
<h3> YEAR OVERALL</h3>
<ul>
    <li>{{ overall }} h</li>
    {% if jumps != 0 %}
    <li>{{jumps}} jumps</li>
    {% else %}
    <li>0 jumps</li>
    {% endif %}
</ul>

{% endblock %}
{% endif %}
